
/* Background Image */

body {
  /* BG Image by Markus Spiske via Unsplash.com */
  background-image: url(../img/bg-code.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

/* Bottom gutter to prevent sticky footer overlap */

main {
  margin-bottom: 50px;
}